:root
{
    /*colors*/
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --shadow-grayish-blue: hsla(229, 6%, 66%, 0.5);
    --very-light-gray: hsl(0, 0%, 98%);

    /*typology*/
    --font-family: 'Poppins';
}

*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 75%;
}

body
{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main
{
    margin: 2% 5%;
    display: grid;
    justify-items: center;
}

.heading
{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 3rem;
}

.heading .title
{
    font-weight: 200;
    color: var(--very-dark-blue);
}

.title strong
{
    display: block;
}

.heading .description
{
    color: var(--grayish-blue);
    max-width: 36rem;
    text-align: center;
}

.features
{
    display: grid;
    gap: 25px;
    justify-content: center;
    justify-items: center;
}

.features .feature-card
{
    background-color: white;
    padding: 2rem;
    max-width: 21rem;
    min-height: 13rem;
    border-top: 3px solid var(--card-border, var(--grayish-blue));
    background: var(--bg-image, none) right bottom / 50px no-repeat content-box;
    box-shadow: 0px 10px 10px var(--shadow-grayish-blue);
    border-radius: 8px;
}

.supervisor
{
    --bg-image: url(./images/icon-supervisor.svg);
    --card-border: var(--cyan);
    grid-area: supervisor;
}

.team-builder
{
    --bg-image: url(./images/icon-team-builder.svg);
    --card-border: var(--red);
    grid-area: team-builder;
}

.karma
{
    --bg-image: url(./images/icon-karma.svg);
    --card-border: var(--orange);
    grid-area: karma;
}

.calculator
{
    --bg-image: url(./images/icon-calculator.svg);
    --card-border: var(--blue);
    grid-area: calculator;
}

.features .feature-card_heading
{
    color: var(--very-dark-blue);
}

.features .feature-card_description
{
    color: var(--grayish-blue);
}

footer
{
    text-align: center;
}

.attribution
{
    color: var(--grayish-blue);
}

.attribution a
{
    text-decoration: none;
    color: var(--orange);
}

@media screen and (min-width: 1000px)
{
    .features
    {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        grid-template-areas: 'supervisor team-builder calculator' '.karma.';
    }

    .features .feature-card
    {
        width: 21rem;
    }

    .supervisor, .calculator
    {
        transform: translateY(50%);
    }
}

@media screen and (min-width: 675px) and (max-width: 999px)
{
    .features
    {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 'supervisor team-builder' 'karma calculator';
    }
}

@media screen and (max-width: 674px)
{
    .heading .title
    {
        font-size: 1.5em;
    }

    .features
    {
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'supervisor' 'team-builder' 'karma' 'calculator';
    }
}