:root
{
    /*colors*/
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /*typology*/
    --font-family: 'Poppins';
}

*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main
{
    margin: 3% 5%;
}